/*heres a comment*/
html {
 font-size: 100%;
 background-image:url("/images/background.png");
}

body {
padding: 3px;
margin: 10px;
font-family: monospace;
background-size: initial;
background-repeat: repeat;
}

 header {
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
 padding-top: 0.8rem;
}
header img {
justify-content: center;
}

section {
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
 grid-auto-rows: minmax(200px, auto);
 padding-top:150px;
}

.one {
 grid-column: 1;
 grid-row: 1;
}
 .two {
   grid-column: 2;
   grid-row: 1;
}
   .three {
     grid-column: 3;
     grid-row: 1;
}
     .four {
       grid-column: 1;
       grid-row: 2;
}
       .five {
         grid-column: 2;
         grid-row: 2;

}
         .six {
           grid-column: 3;
           grid-row: 2;
}

p {
 border: solid;
 font-size: 1rem;
 padding: 10rem;

}

footer {
}
