/*heres a comment*/
html {
 font-size: 100%;
 background-image:url("./images/background.png");
}

body {
 padding: 3px;
 margin: 10px;
 font-family: monospace;
 background-size: initial;
 background-repeat: repeat;
}

header {
 display: grid;
 padding-top: 1rem;
 width: 60%;
}

section {
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 10px;
 grid-auto-rows: minmax(200px, auto);
 padding-top:50px;
 padding-bottom: 30px;
}

.one {
 grid-column: 1;
 grid-row: 1;

}
 .two {
   grid-column: 1;
   grid-row:2;
}
   .three {
     grid-column: 1;
     grid-row: 3;
}

p {
 border: solid;
 font-size: 1rem;
 padding: 10rem;
}

footer {
display: grid;
}
