/*heres a comment*/
html {
 font-size: 100%;
}
body {
 padding: 3px;
 margin: 10px;
 font-family: monospace;
 background-size: initial;
 background-repeat: repeat;
}

header {
 display: flex;
 padding-top: 10px;
 justify-content: center;
}
header img {
height: 100%
}
section {
 display: grid;
 justify-content: center;

}
.wrapper {
 display: grid;
 grid-template-columns: repeat(4,1fr);
 grid-auto-rows: minmax(200px, auto);
 padding-top:10px;
 padding-bottom: 1px;
}
#primary {
 display: grid;

}
.one {
 grid-column: 2;
 grid-row: 1;
 border: none;
 padding-top: 154px;

}
 .two {
   grid-column: 1;
   grid-row: 1;
   border: none;

}
   .three {
     grid-column: 3;
     grid-row: 1;
     border: none;
     padding-top: 144px;
}

#cred {
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-auto-rows: minmax(200px, auto);


}
.edu {
  display: grid;
grid-column: 1;
grid-row: 1;

}
.cre {
  display: grid;
grid-column: 2;
grid-row: 1;
}

p {
 border: none;
 font-size: 1rem;
 padding: 10rem;
}
table {
  border-collapse: collapse;
}

caption {
  font-size: 1rem;
  text-shadow: 3px 3px 3px black;
  padding: 3px;
}
thead {
  background-color: white;
  color: black;
}
  th, td {
  padding: 5px 5px 5px 5px;
  text-align: center;
  }
.rowhover:hover {
  background-color: pink;
  color: blue;
}

footer {
 display: grid;
 justify-content: right;
}
